
---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About</title>
	</head>
	<body>
    <a href="/">Home</a>
<a href="/about/">About</a>
    <a href="/blog/">Blog</a>

<h1>About Me</h1>
<h2>... and my new Astro site!</h2>
		<h1>About Tyler</h1>
    <h2>My About Page</h2>
    <p>Tyler Hartley began harp lessons at the age of six with Atlanta Opera harpist Susan Bennett Brady. Throughout middle school and high school, Tyler pursued a variety of performance experiences including 12 years in the Atlanta Harp Ensemble and four years with the prestigious Atlanta Symphony Youth Orchestra. She began her collegiate studies at the Eastman School of Music, where she was a recipient of the Eileen Malone Scholarship and studied under Kathleen Bride, and later attended Kennesaw State University, where she was 2011’s Concerto Competition winner with the Boieldieu Harp Concerto and studied under Elisabeth Remy Johnson of the Atlanta Symphony Orchestra. Tyler has performed in master classes with renowned harpists Judy Loman, Alice Giles, Kimberly Rowe, Catrin Finch, Bridget Kibbey, Elaine Barber, and Maria Luisa Rayan-Forero. Tyler has attended Eastern Music Festival, Saratoga Harp Colony, Miami Summer Music Festival, and Round Top Festival and has spent several summers at the Young Artist's Harp Seminar, first as a student and later as a theory instructor and counselor. </p>
    <p>An avid performer and orchestra lover, Tyler serves as principal harpist for the Gwinnett Ballet Theatre Orchestra, the Alpharetta Symphony, and the Georgia Philharmonic Orchestra and second harpist for the Georgia Symphony Orchestra. In addition,she frequently freelances with various regional orchestras, wind ensembles, and choral groups including the Columbus Symphony Orchestra, Valdosta Symphony Orchestra, Macon Symphony Orchestra, Jacksonville Symphony Orchestra, Knoxville Symphony Orchestra, Atlanta Philharmonic Orchestra, North Georgia Symphony Orchestra,, Athens Choral Society, Voices of North Georgia, Tara Winds, Atlanta Freedom Band, Coastal Symphony of Georgia, and the Atlanta Wind Symphony. </p>
    <p>Tyler is also a top-rated musician on the gig and wedding scene, offering an extensive and eclectic playlist of music that includes both solo and harp-and-violin duo offerings. </p>
    <p>Tyler teaches private lessons on both lever and pedal harp to students of all ages from her home in Woodstock and her satellite studio in Roswell. Her students have won auditions to perform in the Atlanta Symphony Youth Orchestra, Georgia Symphony Youth Orchestra, Metropolitan Youth Symphony Orchestra, Georgia Piedmont Youth Symphony, Alpharetta Youth Symphony Orchestra, All-State Orchestra, Summer Harp Academy, Young Artist’s Harp Seminar, Interlochen, Tanglewoood, the Peabody Institute of Music, and the Samuel Fordis Concerto Competition. </p>
    <p>In her spare time, Tyler enjoys spending time with her two dogs, playing board games and Smash Brothers, and weight lifting. </p>
	</body>
</html>
