---
import PageLayout from '../layouts/PageLayout.astro'
import BlogPost from '../components/atoms/BlogPost.astro'
const allPosts = await Astro.glob('../pages/posts/*.md')
---

<PageLayout pageTitle="Tyler's Blog">
	<h1>Blog</h1>
	<h2>Blog posts here</h2>
	<p>This could be a blog post</p>
	<p>Right?</p>
	<ul>
		{allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
	</ul>
</PageLayout>
