---
import PageLayout from '../layouts/PageLayout.astro'
const pageTitle = 'Tyler Hartley, Atlanta Harpist'
---

<PageLayout pageTitle={pageTitle}>
  <h1>Tyler Hartley</h1>
  <h2>My Astro Site</h2>
</PageLayout>
