---

---

<menu
  id="hamburger"
  class="flex cursor-pointer flex-col gap-2 pr-4 pt-2 *:block *:h-1 *:w-8 *:rounded-sm *:bg-slate-500 sm:hidden"
>
  <span></span>
  <span></span>
  <span></span>
</menu>
