---

---

<menu
	id="nav-links"
	class="z-10 hidden w-auto flex-col border-b border-l border-slate-200 bg-white p-2 *:text-xl sm:static sm:flex sm:w-2/3 sm:flex-row sm:justify-evenly sm:border-none sm:bg-inherit sm:*:text-4xl"
>
	<a href="/">Home</a>
	<a href="/about/">About</a>
	<a href="/blog/">Blog</a>
	<a href="/tags/">Tags</a>
</menu>
